%h1 Создание категории

= form_for @category, url: category_index_url do |f|
  %div
    = f.label :title, "Название категории:"
    %br
    = f.text_field :title
    %rb
  %div
    = f.label :parent_id, "Категория предок:"
    %br
    = f.select :parent_id, options_from_collection_for_select(Category.all, :id, :title), prompt: 'Нет'
  %br
  %div
    = f.submit

