%h1 Создание продукта

= form_for @product, url: product_index_url do |f|
  = f.label :title, "Название: "
  %br
  = f.text_field :title
  %br
  = f.label :manufacturer, "Производитель: "
  %br
  = f.text_field :manufacturer
  %br
  = f.label :price, "Цена: "
  %br
  = f.text_field :price
  %br
  = f.label :category_id, "Категория: "
  %br
  = f.select :category_id, options_from_collection_for_select(Category.all, "id", "title")
  %br
  = f.submit "Сохранить продукт"
